torch
numpy
discord
pillow
discord.py[voice]
youtube_dl
youtube-python
SQLAlchemy
bcrypt
Flask
Flask-SocketIO
Flask-SQLAlchemy
gevent
gevent-websocket
python-socketio
multipledispatch
Werkzeug
requests
pymongo
selenium
pandas
sklearn
joblib
spotipy